<div class="main">
 <div class="main-user">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんのページ"%>
        <div class="edit-account">
          <%= link_to "アカウント編集", edit_user_path(current_user), class: :edit_account %>
        </div>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= @user.age %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
          <tr>
            <th class="table__col1">お住まい</th>
            <td class="table__col2"><%= @user.prefecture %></td>
          </tr>
        </tbody>
      </table>

      <ul class="user-tabs">
        <li class="active"><%= link_to("🐾投稿記事🐾", "/users/#{@user.id}") %></li>
          <li class="active"><%= link_to("☆いいね!した記事☆", "/users/#{@user.id}/likes") %></li>
      </ul>


      <h2 class="page-heading">
        <%= "#{@user.nickname}さんがいいねした投稿" %>
      </h2>
      <div class="user__card">
        
        <% @likes.each do |like| %>
          <% animal = Animal.find_by(id: like.animal_id) %>
          <% render partial: 'animals/animal', collection: @user.animals %>

          </div>
          <div class="card">
            <%= link_to image_tag(animal.image, class: :card__img ), animal_path(animal.id)%>
            <div class="card__body">
              <%= link_to animal.name, animal_path(animal.id), class: :card__title%>
              <p class="card__summary">
                <%= animal.charm_point %>
              </p>
              <%= link_to "By #{animal.user.nickname}", user_path(animal.user_id), class: :card__user %>
            </div>
          </div>

         <% end %>
</div>