<main class="main">
  <div class="inner">
    <div class="animal__wrapper">
      <p class="animal__hedding">
        <h3 class="animal__hedding"><%= "🐾#{@animal.name}くんの募集記事🐾" %><h3>
      </p>
      <%= link_to "by #{@animal.user.nickname}", user_path(@animal.user), class: :animal__user %>

      <% if user_signed_in? && current_user.id == @animal.user_id %>
        <div class="animal__manage">
          <%= link_to "編集する", edit_animal_path(@animal), class: :animal__btn %>
          <%= link_to "削除する", animal_path(@animal), method: :delete, class: :animal__btn %>
        </div>
        <% end %>

      <div class="animal__image">
        <%= image_tag @animal.image %>
      </div>
      <div class="animal__body">
        <div class="animal__detail">
          <p class="detail__title">種類</p>
          <p class="detail__message">
            <%= @animal.genre %>
          </p>
          <p class="detail__title">性別</p>
          <p class="detail__message">
            <%= @animal.gender %>
          </p>
          <p class="detail__title">お誕生日</p>
          <p class="detail__message">
            <%= @animal.birthday %>
          </p>
          <p class="detail__title">年齢</p>
          <p class="detail__message">
            <%= @animal.age %>
          </p>
          <p class="detail__title">お住まい</p>
          <p class="detail__message">
            <%= @animal.prefecture %>
          </p>
          <p class="detail__title">チャームポイント</p>
          <p class="detail__message">
            <%= @animal.charm_point %>
          </p>
        </div>
        <%# いいね機能 %>
        <% if user_signed_in? %>
          <% if Like.find_by(user_id: current_user.id, animal_id: @animal.id) %>
            <%= link_to("/likes/#{@animal.id}/destroy", {method: "post"}) do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{@animal.id}/create", {method: "post"}) do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>
          <span><%= @likes_count %>いいね!</span>
          </div>
          </div>
        <% end %>

      <%# コメント機能 %>
      <div class="animal__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@animal, @comment],local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
                <%= f.text_area :text, class:"comment_input",id:"comment_text" %>
              
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>

          <ul class="comments_lists">
            <% @comments.each do |comment| %>
              <li class="comments_list"> 
                <%= comment.text %>
                <%= link_to "(#{comment.user.nickname})", user_path(comment.user), class: :comment_user %> 
              </li> 
            <% end %>
          </ul>
        
      </div>
    </div>
  </div>
</main>
