<div class="message_main">
  <div class="message_header">
    <h1>メッセージを送る</h1>
  </div>
  <div class="message_users">
      <h4>送信ユーザー</h4>
        <% @entries.each do |e| %>
          <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.nickname%>さん</a></strong></h5>
        <% end %>
  </div>
        <div class="messages_content">
          <hr>
          <% if @messages.present? %>
            <% @messages.each do |m| %>
              <strong><%= m.content %></strong>
              <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.nickname %>さん</a></strong></small>
              <hr>
            <% end %>
          <% else %>
            <h3 class="text-center">メッセージはまだありません</h3>
          <% end %>
        </div>

        <div class="send_form">
        <%= form_for @message do |f| %>
          <%= f.text_area :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
          <%= f.hidden_field :room_id, :value => @room.id %>
          <br>
          <%= f.submit "投稿する", class: :form__btn %>
        <% end %>
        </div>
      <div class="retun_btn">
        <%= link_to "ユーザー一覧に戻る", users_path %>
      </div>
</div>